#square 
{
    position: absolute;
    top: 50px;
    left: 50px;
    width: 150px;
    height: 150px;
    padding: 2px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    background: orange;
    transition: all .8s ease-in-out;
}

#square:hover
{
    background: yellow;
    transform: rotate(180deg);

}
#square p:hover
{
    transform: rotate(180deg);
}